/UserAccessService/obj/
/UserAccessService/bin/
/UserAuthentificationService/obj/
/UserAuthentificationService/bin/
/GuidelineApi/obj/
/GuidelineApi/bin/
*/.idea
/.idea/
/frontend/th_koeln_barrierefreiheit/dist

# local env files
.env.local
.env.*.local

