@import "vars";

.loading {
  color: transparent;
  width: auto;
  margin-right: 1rem;
  height: 50vh;
  background: linear-gradient(100deg, #e0e0e3 30%, #f6f7f8 50%, #e0e0e3 70%);
  background-size: 400%;
  animation: loading 1s ease-in-out infinite;
  border-radius: 10px;
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* MI Base -----------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
html {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $bfs;
  hyphens: auto;
  overflow-x: hidden;
  @media screen and (max-width: 640px) {
    font-size: $bfs-s;
  }
}

body {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Headlines & Texts -----------------------------------------------------------------------------*/

h1 {
  font-weight: bold;
  margin-bottom: $bfs-xl;
  hyphens: none;
  @media screen and (max-width: 640px) {
    font-size: $bfs-l;
  }
}

h2 {
  margin-bottom: $bfs;
  @media screen and (max-width: 640px) {
    font-size: $bfs;
  }
}

h3 {
  margin-bottom: $bfs;
}

h1,
h2,
h3,
h4 {
  line-height: $lh-tight;
  hyphens: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}

h4, .h4 {
  font-size: 1rem;
  line-height: $lh-loose;
  margin-top: 0;
  margin-bottom: .5rem;
}

p + h2, ul + h2{
  margin-top: $bfs-xxl;
}


p {
  margin-bottom: 1rem;
  line-height: $lh-medium;
}

/* Lists -----------------------------------------------------------------------------*/

ul {
  margin-left: 1.25rem;
  list-style-type: disc;
}

ul, ol, dl {
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: $lh-loose;
}

li {
  line-height: $lh-medium;
  margin-bottom: $quad;
}

li.accordion-item {
  margin-bottom: 0;
}


.is-small li {
  line-height: $lh-tight;
  margin-bottom: $bfs-xxs;
}

/* Other Elements -----------------------------------------------------------------------------*/

blockquote {
  border-left: solid $mi-border-small $mi-pink;
  padding: $bfs-xs $bfs;

  > p {
    margin-bottom: 0;
  }

  &.large{
    font-family: $family-headlines;
    font-size: $bfs-l;
  }
}

a {
  line-height: inherit;
  color: #d16;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus {
  color: #be0f58;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0;
}

thead {
  background: #f8f8f8;
  color: #0a0a0a;
}
thead, tbody, tfoot {
  border: none;
  background-color: #fefefe;
}
thead tr, tfoot tr {
  background: transparent;
}


.m-mi-textblock {
  h1 {
    margin-bottom: $bfs-xl;
  }

  p + figure {
    padding-top: $bfs-xl;
  }

  dl{
    margin-bottom: $fluid-s;
  }

  dt{
    display: block;
    float: left;
    min-width: $fluid-s;
    padding: 0;
    padding-top: 0;
    font-weight: 700;
    color: $mi-lila;

    &::after {
      content: ":";
      display: inline-block;
      padding-right: .3rem;
    }
  }

}


.m-mi-textblock.project {

  h2{
    margin-bottom: $fluid-m;
    padding-top: $fluid-s;
    margin-top: $fluid-s;
    border-top: solid $mi-border-small $mi-lila;
  }

  blockquote{
    background-color: $mi-hellgrau;
    padding: $fluid-l;
  }

  *:not(h2) + h3{
    margin-top: $fluid-s;
  }

  figure.image{

    margin-top: $fluid-s;
    margin-left: -$from-left;
    background-color: $mi-hellgrau;
    width:100vw;
    padding-left: $from-left;
    padding-top: $fluid-s;
    padding-bottom: $fluid-m;

    &.is-portrait{

      display: grid;
      gap: $m;

      &.is-small{
        grid-template-columns: $image-small 1fr;

        figcaption{
          display: flex;
          width: $text-small;
          align-items: center;
        }
      }
    }

    .image-wrap{
      &:hover{
        position: absolute;
        left: 0;
        top: 10vw;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $mi-hellgrau;

        /*&::after{
          content: "close";
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -2rem;
          right: 0;
          background-color: $mi-pink;
          color: #ffffff;
          width: 2rem;
          height: 2rem;
          @extend .material-icons;
        }*/
      }
    }
  }
}


/* MI Utils -----------------------------------------------------------------------------*/

.has-seperator {
  border-bottom: solid $mi-border-small $mi-gruen;
  margin-bottom: $bfs-xl;
  background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(20px);

  &--dotted{
    border-style: dotted;
  }

  &--lila{
    border-color: $mi-lila;
  }
}

.is-vertically-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.has-extra-head-space {
  margin-top: $bfs-xxl !important;
}

.has-foot-space {
  margin-bottom: $bfs !important;
}

.has-extra-foot-space {
  margin-bottom: $bfs-xxl !important;
}

.arrow-up {
  margin-top: 5px;

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 36px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid $mi-grau;
  }
}

.is-hidden {
  display: none;
}

.is-full-width{
  width: 90vw !important;
}

.has-mouseover:hover{
  cursor: pointer;
}
